* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #646464;
}

::-webkit-resizer {
  background-color: #666;
}

body {
  background-color: #2b2b2b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f9f9fa;
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

body::before {
  z-index: -1;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

main {
  min-height: 100vh;
}

h2 {
  font-weight: 100;
}

a {
  text-decoration: none;
  outline: unset;
}

li {
  list-style: none;
  outline: unset;
}

code {
  color: steelblue;
  font-weight: bolder;
}

.pl_2 {
  padding-left: 2em;
}

.p_2 {
  padding: 2em;
}

.p_1 {
  padding: 1em;
}

.iconBtn {
  outline: unset;
  border: none;
  padding: .6em;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.iconBtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.iconBtn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btnPrimary {
  color: steelblue;
  border: none;
  padding: .6em 1em;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border-radius: 3px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btnPrimary:hover {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.btnPrimary:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btnSecondary {
  border: none;
  padding: .6em 1em;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  border-radius: 3px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btnSecondary:hover {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.btnSecondary:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.smaller {
  font-size: 12px !important;
}

@media (max-width: 599px) {
  .smaller {
    font-size: 10px;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 1em;
}

.buttons button:first-child {
  margin-right: 1em;
}

.spaceBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  background-image: url("../img/naturalwhite.png");
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  color: #2b2b2b;
  overflow-x: hidden;
}
/*# sourceMappingURL=Dashboard.css.map */