@import './global';

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
    cursor: url('../img/cursor.svg') 39 39, auto;

    & > div {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        will-change: transform;
        box-shadow: 0 62.5px 125px -25px rgba(250, 250, 250, 0.5), 0 37.5px 75px -37.5px rgba(250, 250, 250, 0.6);
    }
}
